<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 class="welcome-h2" 
    th:text="#{welcome}"
    >WELCOME</h2>
    <hr class='welcome-hr'>
    <div class="row">
        <div class="col-md-12">
          <img style='width: 80%; height:100%; justify-content: center; margin-left: 7.5rem;' 
          class="img-responsive" src="../static/resources/images/parrot.jpeg" th:src="@{/resources/images/parrot.jpeg}"/>
        </div>
    </div>

  </body>

</html>